.container.container--padded.container--push-footer
	.m2-m6.t4-t6.d4-d6
		.text-center
			p Thank you for your interest in Oh Hey World. As much as we'd like to let everyone in now, we're not quite ready to onboard the whole world yet. You'll hear from us once we have a few open invites to dole out...
			p In the meantime, you can check <a href="http://www.ohheyworld.com/travelblog/">our blog</a>, <a href="http://www.twitter.com/ohheyworld.com">follow us on Twitter</a>, or <a href="https://www.facebook.com/ohheyworld">Like Us on Facebook</a>.
