<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @user_location.message%></p>
    <p>Replies to this email will end up in the support inbox for Oh Hey World</p>
    <p>Sent via <a href="http://www.ohheyworld.com">Oh Hey World</a></p>
  </body>
</html>
