<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p><%= @user.user_name%> has asked you for advice on Oh Hey World.</p>
  <p><%= @user.user_name%> is in <%= @user_location.name%></p>
  <p><%= user_location_url(@user_location)%></p>
  <p>
    - The Oh Hey World Team
  </p>
</body>
</html>