<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>Hey <%= @user.user_name%>,</p>
  <p>
    We’re so happy to have you join the Oh Hey World community! We at Oh Hey World believe in the connective power of travel -- in the power of sharing coffee with like-minded travelers on the road, and the lasting memories formed when you connect within the local communities you visit. 
  <p>
    We're glad you do too.
  </p> 
  <p>
    We're right smack dab in the middle of shifting the focus of Oh Hey World to discovering and connecting with like minded people nearby via <a href="http://www.ohheyworld.com/community_pages">our new community pages</a>. As such, we're still ironing out the kinks and changing the entire user experience to center around joining communities rather than checking-in to your current location (though your current location is still critical to finding others with shared passions nearby).
  </p>
  <p>
    If you'd like a bit more background on the reasoning behind our pivot, you can read this <a href="http://pandodaily.com/2013/10/12/a-tech-startup-recap-12-months-in/">A tech startup recap, 12 months in"</a> post I recently wrote for PandoDaily.
  </p>
  <p>
    Drew Meyers, Co-Founder & CEO
  </p>
  <p>
    More details are below, if you wish -- or you can just <a href="http://www.ohheyworld.com/users/sign_in">signin and play with the current product</a>.
  </p>
  <p>
    At a glance, here’s what you now have available at your very fingertips:
  </p>
  <ul>
    <li>
      Check into a new location and with one click share your safe arrival via: text, email, Facebook, and/or Twitter (plus your WordPress.org travel blog) -- there’s no other service that streamlines the process like OHW.
    </li>
    <li>
      Visually sort your friends and family by location so you never miss deepening your travel experience by connecting with someone you know in a new town. 
    </li>
    <li>
      Connect with like-minded travelers in each new city you visit.
    </li>
  </ul>
  <p>
    Where should you start?
  </p>
  <p>
    It''s easy and intuitive, we promise! A <a href="http://www.ohheyworld.com/faq/"></a>full FAQ is here</a>, but this should get you started:
  </p>
  <ol>
    <li>
      Check into your first location: Enter your "City, State" if in the US or "City, Country" -- minus the quotation marks :) --  if you’re abroad, then click "Check In".
    </li>
    <li>
      Share your location with friends, family, and your relevant social networks.
    </li>
    <li>
      Fill out your profile -- this is how you’ll really get value out of the OHW community and adding tags to your profile is important to ensure you maximize the connective power of your travels.
    </li>
  </ol>
  <p>
    We are still in beta, so thanks for hanging in there if you notice a few glitches -- <a href="http://www.ohheyworld.com/feedback/">feedback is gladly welcomed</a>.
  </p>
  <p>
    We look forward to having you a part of the Oh Hey World community -- together we’re changing the way travelers create meaningful connections on the road. 
  </p>
  <p>
    - The Oh Hey World Team
  </p>
</body>
</html>
