= render partial: "notification_contact_details/standard_form", locals: { notification_details: @notification_contact_detail, f: ActionView::Helpers::FormBuilder.new(:user, current_user, self, {}, proc{}), placeholder_name: "Name", placeholder_value: @notification_placeholder_value, notification_type: @notification_type, show_enabled: @notification_show_enabled}