- @fact = ["<a href='/faq#check-in-methods'>Psst! You can also check in using your phone or email. Learn more…</a>",
	"<a target='_blank' href='http://en.wikipedia.org/wiki/Slurpee#Worldwide_consumption'>Winnipeg, Manitoba, Canada is the slurpee capitol of the world! It's been crowned 14 years in a row.</a>",
	"<a target='_blank' href='https://dl.dropboxusercontent.com/u/8380562/gifs/seinfeld-jerry-george-elaine-dance.gif'>This is how we greet friends we haven't seen in awhile.</a>",
	"<a target='_blank' href='http://en.wikipedia.org/wiki/Turritopsis_dohrnii'>The Turritopsis dohrnii jellyfish has the ability to reverse its life cycle to achieve biologically immortality.</a>",
	"<a target='_blank' href='http://www.quora.com/Facts-and-Trivia/Off-the-top-of-your-head-what-is-the-most-interesting-fact-you-know/answer/Jon-Squires'>Russia is bigger than Pluto.</a>",
	"<a target='_blank' href='http://www.quora.com/Facts-and-Trivia/Off-the-top-of-your-head-what-is-the-most-interesting-fact-you-know/answer/Neeharika-Palaka'>The .tv domain name makes the island country of Tuvalu about $4 million a year.</a>",
	"<a target='_blank' href='https://dl.dropboxusercontent.com/u/8380562/gifs/adventure-time-jake-bad-computer.gif'>This is how the Oh Hey World staff fixes bugs.</a>",
	"<a target='_blank' href='http://www.theguardian.com/news/datablog/2013/jan/03/falkland-islands-data-charts'>The Falkland Islands have about 167 sheep per resident.</a>",
	"<a target='_blank' href='http://www.bbc.co.uk/news/magazine-23433149'>France is the most visited country in the world. The US is second.</a>",
	"<a target='_blank' href='http://www.volcanodiscovery.com/indonesia.html'>Indonesia is the country with the most active volcanoes. It has 147.</a>",
	"<a target='_blank' href='http://en.wikipedia.org/wiki/List_of_wadis_of_Saudi_Arabia'>Saudi Arabia has no permanent rivers.</a>",
	]
.container.container-check-in
	.check-in-form
	    h2.text-where-are-you.text-center Where are you today?
	    = render partial: "shared/checkin_form"