h1 Editing beta_access_request

Good news! We've moved out of private Beta and into open Beta. You can move right along, and sign in without any further inconvenience...
<a href="http://www.ohheyworld.com/users/sign_in">GO!!</a>
<img src="https://dl.dropboxusercontent.com/u/8380562/gifs/adventure-time-finn-jake-lady.gif">

== render 'form'

= link_to 'Show', [:admin, @beta_access_request]
'|
= link_to 'Back', admin_beta_access_requests_path

