- @page_title = "About Oh Hey World"

.container.m-hide
  img class="img-cover" src="/assets/page_about.jpg"
  .m2-m6.t2-t4.d2-d4
    h1.display style="position: absolute; top: 3rem; font-size: 4rem;" About Us
.container.container--padded.container--top    
  .m2-m6.t2-t8.d2-d8
    .section
      h1.t-hide.d-hide About Us
      p In-person conversations with interesting people are the holy grail of travel. They are what take your experience from enjoyable to life-changing. Two people with shared interests meeting eye to eye in the same room and forming real relationships. This is where the magic in life happens.
      
      p Our aim is to build a tool that creates this value for every person using it in a fast, simple way that they can use in their own town, but especially when they're on the road or traveling the world (<a href="/mission">more on that here</a>).


      p We are <a href="/community_guidelines">creating a place</a> where members of the same <a href="/community_pages">communities</a> can find each other.
      
      p You can rally around any number of causes, ideas, or organizations and find others who share that passion. Whether it's startups, microfinance, photography, <a href="/communities/kiva">Kiva</a>, social entrepreneurship, Apple, or any of a thousand other topics, we believe great conversations occur when you meet others in your community.

      p <strong>Why</strong>?

      p Nothing happens in life without great relationships. And great relationships start as connections, and turn into real trusted & valuable relationships only after in person time is added to the mix. Networking, and finding those right relationships, is a horribly inefficient process - particularly when travel is thrown into the equation. We see a better way.

  .m2-m6.t2-t8.d2-d8
    h2.delta Behind The Scenes
    p For more information on the technology, places, and communities that have helped us build Oh Hey World, check out our <a href="/colophon">colophon</a>.     

  .m2-m6.t2-t8.d2-d8
    h2.delta Attributions
    p Oh Hey World uses the Icomoon icon library by <a href="http://keyamoon.com/">Keyamoon</a> under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons License</a>.
    p Special thanks to <a href="http://www.linkedin.com/pub/ruby-brayman/55/112/720">Ruby Brayman</a>, <a href="http://www.caseyhynes.com/">Casey Hynes</a>, and <a href="http://willmoyer.com/">Will Moyer</a> for the use of their photos. If you'd like to have your photo featured on Oh Hey World, <a href="http://www.twitter.com/ohheyworld">tweet us</a> and let us know!
