- @page_title = "Community Pages for Community Builders - Oh Hey World"

.container.container--padded
	.m2-m6.t2-t8.d2-d8
		h1.gamma Community Pages for CMOs and Community Builders

		p As someone building a community of like-minded people -- you likely care deeply about engaging your most active, vocal, and passionate members in meaningful ways. You want to know who they are, their location, and what they love about your community.
		p You have a testimonials page, right? Just a hunch, but it's likely you have personal relationships with everyone who you've sought out a testimonial from. But there are other members who probably care just as much, and just haven't been identified by you or your staff. Community pages allow you to be notified when new members self identify that they care about your community by leaving a testimonial as to what they love about your community.
		p The goal is to turn the topics, brands, and communities that truly matter to people -- into real-world connections.
		
		h4 Why?
		p In person connections are <em>magical</em>; there is nothing quite like sitting down with someone with shared core values and passions for a meaningful conversation. For your passionate members, they'd like nothing more than to meet a few fellow community members in person. Or to meet your staff who happen to be traveling to a conference or meeting.
		
		h4 Questions
		p <strong>Q: There are two questions to join my community - why?</strong>
		p <strong>A:</strong> It only takes about 30 seconds (or less) to answer two questions and gives everyone a better sense of why your particular community matters to them. On Facebook, it only take a split second to "like" something -- we are creating a more meaningful experience that will help you get to know your fellow community members. Remember, this likely isn't for everyone - it's for your most engaged and passionate members.
		p <strong>Q: What sort of community specific question should I choose?</strong>
		p <strong>A:</strong> Something that resonates with your community members -- it should be fun and draw something unique and memorable out; something other members (and you) will remember and potentially identify with. For PandoMonthly, it's "If you could have any mediocre superpower, what would it be?" and for AVC, it's "Who are your favorite commenters, and why?"
		p <strong>Q: Who should I get to Join my community page?</strong>
		p <strong>A:</strong> Anyone that you'd normally seek a testimonial from.

		h4 Examples
		p Want to see what community pages already exist? Here are a few examples...
		ul.lists--bullets
			li Tech/Startups/Entrepreneurial: <a href="/communities/avc">AVC</a>, <a href="/communities/pandodaily">PandoDaily</a> (& <a href="/communities/pando-monthly">PandoMonthly</a>)
			li Social Good: <a href="/communities/acumen-fund">Acumen Fund</a>, <a href="/communities/mffo">Mothers Fighting for Others</a>, and <a href="/communities/impact-hub">Impact HUB</a>
			li Microfinance: <a href="/communities/kiva">Kiva</a> and <a href="/communities/vittana">Vittana</a>
			li Brands: <a href="/communities/zillow">Zillow</a>, <a href="/communities/apple">Apple</a>
			li Niche Topic Based Communities: <a href="/communities/geek-estate">Geek Estate</a>, <a href="/communities/travel-startups-co">TravelStartups.co</a>
			li Topics: <a href="/communities/travel-blogging">Travel Blogging</a>
		
		h4 Adding a Community
		p Currently, all communities are created by our staff. If you'd like your own community created, please email Drew with the following items: Community name, logo, tag line, description, and the question you want every community member to answer upon joining.
		a class="btn btn--comp margin-bs" href="mailto:drew@ohheyworld.com?subject=Create a Community Page" Contact
		
		h4 More Questions?
		p Don't worry, you can ask us any question you'd like...
		a class="btn btn--comp margin-bs" href="mailto:drew@ohheyworld.com?subject=Community Page Question" Ask a Question
