- @page_title = "What are Community Pages? - Oh Hey World"

.container.container--padded
	.m2-m6.t2-t8.d2-d8
		h1.gamma What are community pages?

		p Community pages are for people with shared passions to discover and connect with each other, with a focus of helping you find others nearby in the real-world.
		
		p The goal is to turn the topics, brands, and communities that truly matter to you -- into real-world connections.
		
		h4 Why?
		p In person connections are <em>magical</em>; there is nothing quite like sitting down with someone with shared core values and passions for a meaningful conversation. The world needs more of these interactions to occur in order to move this world forward.
		
		h4 Questions
		p <strong>Q: I have to answer two questions to join any community - why?</strong>
		p <strong>A:</strong> It only takes about 30 seconds to answer and this gives everyone a better sense of why a particular community matters to you. On Facebook, it only take a split second to "like" something -- we are creating a more meaningful experience that will help you get to know your fellow community members.
		p <strong>Q: Once I join a community, anyone can contact me?</strong>
		p <strong>A:</strong> You likely shouldn't join communities in which you wouldn't welcome an email or quick chat with someone else who cares deeply about that same topic, community, or brand. That said, you can turn off the contact option from your main OHW settings.
		p <strong>Q: I'm a community builder - what do I need to know?</strong>
		p <strong>A:</strong> We've detailed everything you need to know <a href="/community_pages_community_builders">HERE</a>.

		h4 Getting Started
		p Find the passion communities that matter to you. Here are a few examples...
		ul.lists--bullets
			li Tech/Startups/Entrepreneurial: <a href="/communities/avc">AVC</a>, <a href="/communities/both-sides-of-the-table">Both Sides of the Table</a>, <a href="/communities/pando-monthly">PandoMonthly</a>, <a href="/communities/pandodaily">PandoDaily</a>, <a href="/communities/start-up-chile">Start-up Chile</a>, <a href="/communities/startup-abroad">Startup Abroad</a>, <a href="/communities/up-global">UP Global</a>, <a href="/communities/startup-weekend">Startup Weekend</a>, <a href="/communities/tropicalmba">TropicalMBA</a>, and <a href="/communities/impact-hub">Impact HUB</a>.
			li Social Good: <a href="/communities/acumen-fund">Acumen Fund</a>, <a href="/communities/rebsea">Real Estate & Business Social Enterprise Association</a>, <a href="/communities/give-naked">Give Naked</a>, and <a href="/communities/mffo">Mothers Fighting for Others</a>
			li Microfinance: <a href="/communities/kiva">Kiva</a> and <a href="/communities/vittana">Vittana</a>
			li Real Estate: <a href="/communities/zillow">Zillow</a>, <a href="/communities/virtual-results">Virtual Results</a>, <a href="/communities/agbeat">AGBeat</a>, <a href="/communities/biggerpockets">BiggerPockets</a>, and <a href="/communities/re-dot-net">RE.net</a>, and <a href="/communities/geek-estate">Geek Estate</a>.
			li Travel: <a href="/communities/airbnb">AirBnB</a>, <a href="/communities/jauntaroo">Jauntaroo</a>, <a href="/communities/couchsurfers">CouchSurfers</a>, and <a href="/communities/jodi-eats">Jodi Eats</a>
			li Brands: <a href="/communities/apple">Apple</a>
			li Niche Topic Based Communities: <a href="/communities/travel-startups-co">TravelStartups.co</a>, and <a href="/communities/krypton">Krypton</a>
			li Topics: <a href="/communities/travel-blogging">Travel Blogging</a>, <a href="/communities/micro-consignment">Micro Consignment</a>
		
		h4 Adding a Community
		p Currently, all communities are created by our staff. If you'd like your own community created, please email Drew with the following items: Community name, logo, tag line, description, and the question you want every community member to answer upon joining.
		a class="btn btn--comp margin-bs" href="mailto:drew@ohheyworld.com?subject=Create a Community Page" Contact
