- @page_title = "Maintenance - Oh Hey World"

.container.container--padded.container--push-footer
	.text-center
		h1 Whoops!
		p Um&hellip; here&rsquo;s the thing&hellip; uh&hellip; brb.
		p
			img src="/assets/umfillion.gif" style="min-width: 40%;"
		p If you want to <a href="/feedback">tell us</a> what you were trying to do, it&rsquo;ll help us prevent errors like this in the future.


		
