= render partial: "notification_contact_details/standard_form", locals: { notification_details: details, f: f, placeholder_name: placeholder_name, placeholder_value: placeholder_value, notification_type: nil }