<p>Hello <%= @resource.email %>!</p>

<p>Aw shucks, you forgot your password -- happens to the best of us. Simply click this link to reset your password:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn’t request a password reset, let us know and and we’ll alert the troops (our techies) and keep your account safe and secure.</p>
<p>Before you delete or archive this email, note your password won't change until you access the link above and create a new one.</p>
<p></p>- The Oh Hey World Team</p>
